<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}My Portfolio – Katrina{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load active_link_tags %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

{% include 'partials/_header.html' %}
{% include 'partials/_nav.html' with request=request %}
-

    <div class="container py-5 main">
        <main>
            {% block content %}
            <!-- Default content can go here -->
            {% endblock %}
        </main>
    </div>

{% include 'partials/_footer.html' %}

</div>
</body>
</html>