<nav class="navbar navbar-expand-md navbar-light py-3 custom-navbar">
  <div class="container">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link %}" href="index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{ portfolio }}">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{ experience }}">Work Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{ skills }}">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{ education }}">Education</a>
      </li>
      <!-- Add more <li> items here as needed -->
    </ul>
  </div>
</nav>
