{% extends 'base.html' %}
{% load static %}
{% block content %}'

  <section class="hero-section py-5">
  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div>
      <h1 class="hero-heading mb-3">Building backend systems with clarity, precision, and purpose.</h1>
      <p class="intro-text">I’m Katrina—a backend-focused developer who transforms complexity into clean, scalable architecture. Let’s build something brilliant.</p>
      <a href="#curriculum" class="btn btn-purple">Explore My Curriculum</a>
    </div>
    <img src="{% static 'img/python_code_2.png' %}" alt="Backend Code Illustration" class="hero-graphic d-none d-md-block ms-4">
  </div>
</section>

<div class="what-i-do-section">
  {% for item in what_i_do %}
    <div class="what-i-do-item {% if forloop.counter|divisibleby:2 %}right{% else %}left{% endif %}">
      <div class="icon">
        <i class="{{ item.technology_icon_class }}"></i>
      </div>
      <div class="text">
        <h4>{{ item.technology_name }}</h4>
        <p>{{ item.technology_description|safe }}</p>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}