{% for section in sections %}
  {% if section.specializations.all %}
    <section class="mb-5 pb-3 border-bottom">
      <div class="heading-wrapper">
        <h2 role="button"
            tabindex="0"
            class="section-toggle d-flex align-items-center"
            data-bs-toggle="collapse"
            data-bs-target="#section-{{ section.id }}"
            aria-expanded="true"
            aria-controls="section-{{ section.id }}">
          <i class="fa-solid fa-caret-down arrow-icon me-2"></i>
          <span class="underline-accent">{{ section.section_name }}</span>
        </h2>
      </div>

      <div id="section-{{ section.id }}" class="collapse show">
        {% include "partials/specialization_loop.html" with specializations=section.specializations.all %}
      </div>
    </section>
  {% endif %}
{% endfor %}
